[Unit]
Description=Steam-Spielebibliothek in Datenbank einlesen

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 %h/steamOs/game_scanner.py
WorkingDirectory=%h/steamOs
