[Unit]
Description=Startet den Steam-Spiele-Scan regelmaessig

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
